name: Python Windows build
on:
  workflow_dispatch:
    inputs:
      home:
        description: 'location'
        required: false

jobs:
  build:

    runs-on: windows-latest
    strategy:
      matrix:
        python-version: [3.7]

    steps:
    - uses: actions/checkout@v2
    - uses: ilammy/msvc-dev-cmd@v1
    - uses: actions/setup-node@v1
      with:
        node-version: '12'
  
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Check cmake
      run: |
        cmake --version
    - name: Install C++ dependencies
      run: |
        $Env:path += ";${env:BOOST_ROOT_1_72_0}\lib"
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tbb
    - name: Install perspective-python
      run: |
        cd python
        cd perspective
        yarn build_python
        pip install -v .
