name: Python Windows build
on:
  workflow_dispatch:
    inputs:
      home:
        description: 'location'
        required: false

jobs:
  build:

    runs-on: windows-latest
    strategy:
      matrix:
        python-version: [3.7]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Check cmake
      run: |
        cmake --version
    - name: Install C++ dependencies
      run: |
        $Env:path += ";${env:BOOST_ROOT_1_72_0}\lib"
        vcpkg install --triplet x64-windows tbb
        vcpkg install --triplet x64-windows pybind11
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyarrow
    - name: Install perspective-python
      run: |
        cd python
        pip install -v perspective-python
